.nav-item {
  color: black;
  font-weight: 700;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  transition: all 300ms ease-in-out;
  transform: scale(1);
}
.nav-item:hover {
  color: white;
  transform: scale(1.2);
}
.nav {
  background-color: #343a40;
}

.btn {
  color: black;
  font-size: x-large;
  font-weight: 700;
}
.btn1,
.btn2 {
  position: absolute;
  margin-top: 4%;
  right: 2%;
  top: 0;
  width: 100px;
  height: 45px;
  font-size: 26px;
  font-weight: bolder;
  color: black;
}

#vid {
  position: absolute;
  height: 40%;
  left: 5%;
  top: 17%;
}

#mybtn {
  position: absolute;
  top: 11%;
  left: 7%;
}
