.nav-item {
  color: black;
  font-weight: 700;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  transition: all 300ms ease-in-out;
  transform: scale(1);
}
.nav-item:hover {
  color: white;
  transform: scale(1.6);
}
.nav {
  background-color: #343a40;
}
.btn {
  color: black;
  font-size: x-large;
  font-weight: 500;
}
