#bg {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#title,
#subtitle {
  /* margin-top: 150px; */
  text-align: center;
  justify-content: center;
  font-size: 50px;
  color: cornsilk;
  font-family: monospace;
}
#title {
  margin-top: 1.8em;
  animation: slide 2s forwards;
  transform: translateX(-100%);
}
#subtitle {
  animation: slide 2s forwards;
  transform: translateX(100%);
}

@keyframes slide {
  to {
    transform: translateX(0%);
  }
}

.seds,
.vyadh {
  height: 200px;
  width: 200px;
  border-radius: 50% 50% 50% 50%;
  top: 20px;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.seds {
  position: absolute;
  right: 40px;
  filter: drop-shadow(0 0 0.75rem #4c447a);
}
.vyadh {
  position: absolute;
  left: 40px;
  filter: drop-shadow(0 0 0.75rem hsla(30, 2%, 20%, 0.904));
}
