#bg {
  /* background: url(images/bg.jpg) no-repeat center center fixed; */
  /* background: no-repeat center center fixed; */
  /* -webkit-background-size: center;
  -moz-background-size: center;
  -o-background-size: center; */
  /* background-size:contain; */
  position: fixed;
  /* top:0% */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#title,
#subtitle {
  /* margin-top: 150px; */
  text-align: center;
  justify-content: center;
  font-size: 50px;
  color: cornsilk;
  font-family: monospace;
}
#title {
  /* position: absolute;
  top:5%;
  left:20%; */
  margin-top: 1.8em;
  animation: slide 2s forwards;
  transform: translateX(-100%);
}
#subtitle {
  /* position: absolute;
  top:5%;
  left:45%; */
  animation: slide 2s forwards;
  transform: translateX(100%);
}

@keyframes slide {
  to {
    transform: translateX(0%);
  }
}

.seds,
.vyadh {
  height: 200px;
  width: 200px;
  border-radius: 50% 50% 50% 50%;
  top: 20px;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.seds {
  position: absolute;
  right: 40px;
  filter: drop-shadow(0 0 0.75rem #4c447a);
}
.vyadh {
  position: absolute;
  left: 40px;
  filter: drop-shadow(0 0 0.75rem hsla(30, 2%, 20%, 0.904));
}

.info-buttons
{
  position:absolute;
  top:50%;
  left:45%
}